.btn {
    display: flex;
    align-items: center;
    color: $text;
    padding: 10px 15px;
    background-color: $btn;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    transition: all .3s ease-in-out;
    
    &__main-menu {
        display: flex;
        margin-left: 20px;
    }

    &--logout {
        border-radius: 50%;
        padding: 10px;
    }

    &--create-task {
        justify-content: start;
        font-size: 20px;
        column-gap: 20px;
        padding: 5px 15px;
    }

    &--list {
        padding: 3px 3px 3px 3px;
        border-radius: 7px;
        background-color: $bg-main;
    }

    &:hover {
        opacity: 0.7;
        scale: .9;
    }

    &--create-list {
        background-color: unset;
        padding: 0;
        font-weight: 400;
        display: flex;
        align-items: center;
        column-gap: 10px;

        &:hover {
            opacity: 1;
            scale: 1;
        }
    }

    &--add-task {
        gap: 15px;
        background-color: $block;
        color: $icon;
        padding: 0;
        margin-bottom: 30px;
        font-size: 18px;

        &:hover {
            scale: 1;
        }
    }
}

.btn__main-menu:hover {
    .icon--menu {
        opacity: .3;
        scale: 1.2;
    }
}