.list-tasks {
    background-color: $block;
    padding: 20px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 600px;

    &__title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    ul {
        @include flex(nowrap, column, $gap-row: 15px);
    }
}