.task__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &-remove {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    .menu__checkbox {
        display: flex;
        align-items: center;

        input {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }
    }

}