.task__wrapper {
    @include flex-center-space-between();

    &-left {
        @include flex-center();
        gap: 10px;
    }

    &-remove {
        @include flex-center();

        &:hover {
            cursor: pointer;
        }
    }

    .menu__checkbox {
        @include flex-center();

        input {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }
    }

}